body {
  background-image: url('Images/billy-huynh-W8KTS-mhFUE-unsplash.jpg');
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  background-color: rgb(98, 46, 85);
}

.navbar a {
  color: white;
}

.card {
  border-radius: 12px;
}

.container h3 {
  color: white;
}

input[type="checkbox"] {
  transform: scale(1.2);
}